html {
	width: 100vw;
    height: 100vh;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;

    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; 				/* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.search {
	width: 35rem;
	padding: 0.55rem;
	margin-left: 5px;
    border-radius: 5px; 
	background-color: azure;
}

.search-box {
	width: 100%;
	margin: auto;
	padding: 0;
	background-color: rgba(0, 0, 0, 0);
	color: #1f1f1d;
    border: none;
    font-family: Didact Gothic;
	font-size: 18px;
      
}

.search-box:focus {
	outline: none;
}

.menu{
    position: relative;
    background-color: azure;
	width: 35px;
	padding: 3px;
    border-radius: 5px;
    transition: 0.3s border-radius ease-in-out, 0.3s height ease-in-out, 0.3s top ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
 }

.menu--closed{
    height: 35px;
    top: 0px;
}

.menu--open{
    height: 230px;
    top: 97.5px;
}

.button{
    transition: 0.3s transform ease-in-out, 0.3s opacity ease-in-out, 0.3s top ease-in-out;
    cursor: pointer;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 1.3em;
    height: 1.3em;
    left: 25%;
    top: 11px;
    opacity: 1;
}

.button:hover {
    opacity: 0.6;
}

.button span{
    width: 100%;
    height: 3px;
    background-color: #161616;
    border-radius: 16%;
}

.menu--open .button{
    transform-origin: center;
    transform: rotate(90deg);
}

.tools{
    position: absolute;
    top: 32px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 75%;
    justify-content: space-between;
    transition: 0.3s margin ease-in-out;
}


.tools .icon{
    transition: 0.2s transform ease-in-out;
}

.tools .icon:hover{
    transform: scale(0.8);
}

.tools--hidden{
    margin-top: 400px;
    z-index: -100;
}

.tools--visible{
    margin-top: 40%;
    z-index: 100;
}